<!-- footer starts -->
    <div class="footer footer-dark-haki">
		<div class="text-center wrap-to-top">
			<a class="totop"><i class="fa fa-chevron-up"></i></a>
		</div>
		<div class="container">
			<!-- 1st row -->
			<div class="row">
				<div class="col-lg-4">
					<h1 class="title"><i class="fa fa-quote-left"></i> President's Message</h1>
					<hr>
					<p>
						 Introducing a premium HTML5 & CSS3 template for multipurpose use. Responsive layout, professional design & lots of features.
					</p>
					<p>
						 Made with love by  <a href="http://www.wowthemes.net">WowThemes.net</a> .
					</p>
					<p class="footer-logo">
						 Biscaya
					</p>
				</div>
				<div class="col-lg-4">
					<h1 class="title"><i class="fa fa-heart"></i> Mission</h1>
					<hr>

				</div>
				<div class="col-lg-4">
					<h1 class="title"><i class="fa fa-envelope"></i> Contact us</h1>
					<hr>
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							Your message has been sent. Thank you!
						</div>
					</div>
					<form method="post" action="contact.php" id="contactform">
						<div class="form">
							<div class="controls row">
								<input class="col-lg-6" type="text" name="name" placeholder="Name">
								<input class="col-lg-6" type="text" name="email" placeholder="E-mail">
							</div>
							<div class="controls">-
								<textarea class="col-lg-12" name="comment" rows="4" placeholder="Message"></textarea>
							</div>
							<input type="submit" id="submit" class="btn" value="Send">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 2nd row -->
	<div class="footer-bottom footer-bottom-dark">
		<div class="container">
			<div class="row">
				<!-- left -->
				<div class="col-lg-4 small-space-top">
					<p class="smaller">
						<span class="copyright">© </span> Copyright 2013 Biscaya. Be nice.
					</p>
				</div>
				<!-- right -->
				<div class="col-lg-8 small-space-top">
					<div class="pull-right smaller">
						<ul class="footer-menu">
							<li><a href="#">Home</a></li>
							<li><a href="#">Work</a></li>
							<li><a href="#">Pages</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="clearfix">
					</div>
				</div>
				<!-- end right -->
			</div>
		</div>
	</div>
<!--footer ends -->
</div> <!-- body ends -->
  {{# javascripts.load }}
    //ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js
    //netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js
  {{/ javascripts.load }}
  {{{ widgets.analytics }}}
</body>