<!-- footer starts -->
    <div class="footer footer-dark-haki">
		<div class="text-center wrap-to-top">
			<a class="totop" title="Go to the top"><i class="fa fa-chevron-up"></i></a>
		</div>
		<div class="container">
			<!-- 1st row -->
			<div class="row">
				<div class="col-lg-4">
					<h1 class="title"><i class="fa fa-quote-left"></i> Message From The Pressident</h1>
					<hr>
					<p>
						Our goal is to achieve happiness together with a constant desire to improve our expertise, and by taking up the challenge to create healthy products, we wish to contribute to the health of all human beings around the world.
					</p>
					<p class="footer-logo">
						 <em>CEO Yasuhide Ito</em>
					</p>
				</div>
				<div class="col-lg-4">
					<h1 class="title"><i class="fa fa-heart"></i> Mission</h1>
					<hr>
					<p>
						<i class="fa fa-quote-left"></i> Our mission is to continuously improve our products while increasing
customer satisfaction, health, and well-being. <i class="fa fa-quote-right"></i>
					</p>
				</div>
				<div class="col-lg-4">
					<h1 class="title"><i class="fa fa-envelope"></i> Contact us</h1>
					<hr>
					<div class="error-msg alert alert-danger alert-dismissable" style="display: none;">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<span></span>
					</div>
					<form method="post" action="" class="form-horizontal" id="contactform">
						<div class="form-group">
							<input class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="email" placeholder="E-mail">
						</div>

						<div class="form-group">
							<textarea class="form-control" name="comment" rows="4" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input class="form-control" type="hidden" name="task" value="contact">
							<input type="submit" id="submit" class="btn" value="Send">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 2nd row -->
	<div class="footer-bottom footer-bottom-dark">
		<div class="container">
			<div class="row">
				<!-- left -->
				<div class="col-lg-4 small-space-top">
					<p class="smaller">
						<span class="copyright"> &copy; </span> Copyright 2013 - <span class="year"></span> MIZUDORI CO.Ltd.
					</p>
				</div>
				<!-- right -->
				<div class="col-lg-8 small-space-top">
					<div class="pull-right smaller">
						<ul class="footer-menu">
							{{#data.navigation?to__root }}
								<li class=" {{#is_active_page}}active{{/is_active_page}}">
									<a href="{{url}}">{{title}}</a>
								</li>
							{{/data.navigation?to__root }}
						</ul>
					</div>
					<div class="clearfix">
					</div>
				</div>
				<!-- end right -->
			</div>
		</div>
	</div>
<!--footer ends -->
</div> <!-- body ends -->
	{{# javascripts.load }}
		//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js
		//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js
		//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js
		jsonify.js
		site.js
		order.js
		contact.js
	{{/ javascripts.load }}
	{{{ widgets.analytics }}}

</body>