<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{data.title }} - {{page.title}}</title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
		{{# data.description }}
			<meta name="description" content="{{ . }}"/>
		{{/ data.description }}

		{{# page.keywords }}
			<meta name="Keywords" content="{{ . }}"/>
		{{/ page.keywords}}
			<meta name="author" content="{{ data.author.name }}"/>
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
			<link href="//fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900" rel="stylesheet" type="text/css">

			<link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">

				<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
		{{# stylesheets.load }}
			//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css
			//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css
			styles.css
		{{/ stylesheets.load }}
	</head>
	<body class="wrapper" >
	<div class="body">
		<header>
			<div class="container clearfix">
				<div class="row">
					<div class="col-lg-6">
					<h1 class="brand-logo"><a href="index.html"><img src="{{urls.media}}/logo.gif" alt=""></a></h1>
					</div>
					<div class="col-lg-6">
						<div class="topinfo">
							<div class="social">
								<a href="http://www.addhen.org/blog/feed/" class="facebook" title="Go to our facebook page"><i class="fa fa-facebook"></i></a>
								<a href="http://www.mizudori.jp" title="Go to Mizudori Japan" class="jp-flag"><i class="fa fa-circle"></i></a>
							</div>
							<div class="infophone">
								<i class="fa fa-phone"></i> +81 228-21-2751
							</div>
							<address class="infoaddress">
								 131-54, Suwaki, Yokosuka, Tukidate, Kurihara City
							</address>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<nav class="navbar-custom navbar navbar-default navbar-inverse" role="navigation">
							<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom .navbar-collapse">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
							</div>
							<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										{{#data.navigation?to__root }}
											<li class=" {{#is_active_page}}active{{/is_active_page}}">
												<a href="{{url}}">{{title}}</a>
											</li>
										{{/data.navigation?to__root }}
									</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		{{# page.slideshow}}
		<div class="container">
			<div class="thumbnail">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
										<div class="item active">
												<img src="{{urls.media}}/slide1.jpg" alt="manage Sync URL" title="manage Sync URL">
										</div>
										<div class="item">
												<img src="{{urls.media}}/slide2.jpg" alt="pending" title="Pending Messages" />
										</div>
										<div class="item">
												<img src="{{urls.media}}/slide3.jpg" alt="settings" title="Settings" />
										</div>
								</div>
									 <!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel" data-slide-to="1"></li>
										<li data-target="#myCarousel" data-slide-to="2"></li>
									</ol>
						</div>
			</div>
		</div>
		{{/ page.slideshow}}