/** custom navbar color **/
.navbar-custom {
  background-color: #fcd94b;
  border-color: #fbd22a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fde47d), to(#fcd94b));
  background-image: -webkit-linear-gradient(top, #fde47d, 0%, #fcd94b, 100%);
  background-image: -moz-linear-gradient(top, #fde47d 0%, #fcd94b 100%);
  background-image: linear-gradient(to bottom, #fde47d 0%, #fcd94b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffde47d', endColorstr='#fffcd94b', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #600;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #600;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #600;
}
.navbar-custom .navbar-nav > li > a {
  color: #600;
  font-weight: bold;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #600;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #600;
  background-color: #fbd22a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fbd22a), to(#fcdd5d));
  background-image: -webkit-linear-gradient(top, #fbd22a, 0%, #fcdd5d, 100%);
  background-image: -moz-linear-gradient(top, #fbd22a 0%, #fcdd5d 100%);
  background-image: linear-gradient(to bottom, #fbd22a 0%, #fcdd5d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbd22a', endColorstr='#fffcdd5d', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #fbd228;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #fbd22a;
  color: #000000;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #fbd22a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #000000;
}

.page-bg {
	background: #b91;
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container {
	max-width:940px;
}

*{
	margin:0;
	padding:0;
	zoom:1;
	font-size: medium;
	line-height:1.5em;
	font-family: "Roboto";
}

/** body **/
body.wrapper {
	background-image: url(../media/bg-img.jpg);
	background-attachment: fixed;
	background-position: 49% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 40px 0 50px;
}

body.wrapper div.body {
	-moz-box-shadow:0 0 14px rgba(0,0,0,0.15);
	-webkit-box-shadow:0 0 14px rgba(0,0,0,0.15);
	box-shadow:0 0 14px rgba(0,0,0,0.15);
	background-color:#FFFFFF;
	margin:0px auto;
	max-width:100%;
	width:1040px;
	font-family:'open_sansregular';
	font-size:13px;
	color:#888;
	line-height:24px;
	z-index:0;
	position:relative;
	border-top:7px solid #428bca;

	-webkit-border-bottom-left-radius: 7px;
	-moz-border-bottom-left-radius: 7px ;
	border-bottom-left-radius: 7px;

	-webkit-border-bottom-right-radius: 7px;
	-moz-border-bottom-right-radius: 7px ;
	border-bottom-right-radius: 7px;
}


.brand-logo {
	float:left;
	font-size:0px;
	font-weight:0;
	margin:36px 0 0;
	padding:0;
	text-shadow:none;
	display:inline-block;
}

#mizudori-carousel {
	height: 400px;
}

/** header */
header {
	padding:0;
	z-index:50;
}

/** Social Media */
.social{
	overflow:hidden;
	margin-bottom:5px;
	margin-top:25px;
	text-align: right;
}
.social a i{
	display:inline-block;
	width:30px;
	height:30px;
	margin-left: 5px;
	font-size:15px !important;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	border-radius: 3px;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}

.social a.facebook i{
	background:#3b5998;
}

.social a.twitter i{
	background:#1ba1e2;
}

.social a.google-plus i{
	background:#f22d0c;
}

.social a.linkedin i{
	background:#2d93cf;
}

.social a.stackoverflow i{
	background: #c09553;
}

.social a.github i{
	background: #334248;
}

.social a.careers i{
	background: #fe7a15;
}

.social a.flickr i{
	background: #ff0084;
}

.social a.jp-flag i{
	border:1px solid #ddd;
	border-radius: 3px;
	color : #bc002d;
}

.infophone, .infoemail {
	text-align:right;
	font-size:16px;
	line-height:26px;
	color:#333333;
	text-transform:uppercase;
	padding-bottom:4px;
}
.infoaddress {
	text-align:right;
	color:#333;
	font-size:12px;
	line-height:16px;
	text-transform: uppercase;
}

/** footer */

.footer a {
	color:#fff;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

ul.footer-menu li a:hover,.footer a:hover {
	opacity:0.7;
}

.footer {
	padding-top:30px;
	padding-bottom:30px;
	color:#fff;
	margin-top:60px;
}

.footer.btn {
	background:#fff;
	color:#333!important;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.footer.btn:hover {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.footer hr {


}

.footer ul.social-links li {
	background:#222;
	margin-right:0px;
	margin-left:10px;
}
.smaller {
	font-size:80%;
}
.fontarial {
	font-family:arial;
}
.copyright {
	font-family:Arial;
}
.footerlogo {
	font-family:PacificoRegular;
	font-size:22px;
}
.footer-logo47 {
	background:#fff;
	color:#e7402f;
	display:inline;
	padding:10px;
	font-size:22px;
	border-radius:50%;
}
.footer h1 {
	color:#fff;
	text-transform:uppercase;
	font-size:17px;

	display:inline;
	padding-bottom:14px;
}

.footer hr {
	border-top:0;

	margin-top:5px;
}
.footer {
	font-size:13px;
}
.footer .btn {
	color:#999 !Important;
	font-size:13px;
	border-radius:3px;
}
.footer-bottom {
	color:#fff;
	line-height:2.0;
	background:#333;
	border-top:1px solid #444;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px ;
	border-bottom-left-radius: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px ;
	border-bottom-right-radius: 5px;
}

.footer-bottom a {
	color:#fff;
}

ul.footer-menu {
	list-style:none;
}

ul.footer-menu li {
	float:left;
	margin-left:5px;
	margin-right:5px;
	text-transform:uppercase;
	line-height:2.5;
}

ul.footer-menu li a {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.footer-menu li:before {
	content:'|';
	color:#777;
	display:inline-block;
	margin-right:7px;
}

.footer-menu li:nth-child(1):before {
	display:none;
}

.footer-dark-haki {
	background:#222;
	color: #ccc;
	margin-top:65px;
	line-height:1.6;
}

.footer-dark-haki .footer-logo {
	color:#fff;
}

.footer-dark-haki h1 {
	color:#eee;

}

.footer-dark-haki hr {
	border-top:0;

}
.footer-dark-haki hr {
	border-bottom:1px solid #ffcc00;
}
.footer-dark-haki .totop,.footerdark .totop:hover {
	background-image:none;
}
.footer-dark-haki input,.footer-dark-haki textarea,.footer-dark-haki input[type="text"] {
	background-color:#333;
	border:0px;
}
.footer-dark-haki .btn {
	text-shadow:none;
}
.footer-dark-haki .btn:hover {
	background:#3f3f3f;
}

.wrap-to-top {
	margin-top:-55px;
	padding-bottom:25px;
}

.totop {
	border:2px solid #fff;
	color:#fff !Important;
	background:#ffcc00;
	border-radius:50%;
	display:inline-block;
	padding:15px 20px;
	color:#fff;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.totop:hover {
	cursor:pointer;
	background:#ffcc00;
	color:#fff;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.small-space-top {
	margin-top:7px;
	padding-top:5px;
	padding-bottom:5px;
}

.footer-mintitle {
	color:#fff;
	font-weight:200;
}

/** title border */
h3 {
	display:inline-block;
	padding:1px 12px;
	color:#444;
	font-weight: bold;
	font-family: "Lato";
	top:14px;
	padding-left:0 !important;
	text-transform:uppercase;
	border-bottom:solid #ffcc00;
	margin-bottom:30px;
}

/** links */
a {
	color:#e7402f;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
a:hover {
	color:#e7402f;
	text-decoration:none;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

/** thumbnail *
.thumbnail {
	border:1px solid #f3f3f3;
	font-size:13px;
	background:#fff;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	padding:0px;
	border-bottom:medium double #ddd;
	text-align:center;
	line-height:25px;
}
.thumbnail h4 {
		font-size:16px;
	line-height:0.5;
	margin-top:20px;
}
.thumbnail .caption {
	color:#888;
	padding:10px 20px 15px;
	background:#f7f7f7;
}
.thumbnail .caption span {
}
.thumbnail img {
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
}
.thumbnail img:hover {
	filter:blur(2px);
	-webkit-filter:blur(2px);
	-moz-filter:blur(2px);
	-o-filter:blur(2px);
	-ms-filter:blur(2px);
}*/

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
	font-family: "roboto";
	font-size:12px;
}
input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"] {
	border-radius:3px;
}