{{> header.html }}
	<div class="container">
		{{{ content }}}
		<h3>Products</h3>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a href="products" title="Go to our products page"><img src="{{urls.media}}/fresh-shiitake-mushrooms-farm.jpg"/></a>
				</div>
				<div class="caption">
					<p> Shiitake Mushrooms</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a href="products" title="Go to our products page"><img src="{{urls.media}}/fresh-mushrooms.jpg" /></a>
				</div>
				<div class="caption">
					<p>Fresh Shiitake Mushroom</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a href="products" title="Go to our products page"><img src="{{urls.media}}/snacks.jpg" /></a>
				</div>
				<div class="caption">
					<p>Mushroom Chips</p>
				</div>
			</div>
		</div>
	</div>
{{> footer.html }}