{{> header.html }}
	<div class="container">
		{{{ content }}}
		<h3>Products</h3>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="http://farm4.staticflickr.com/3748/10817812266_8660ca8c18_n_d.jpg"/>
				</div>
				<div class="caption">
					<p>Mushroom</p>
					<p>100g</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="http://farm8.staticflickr.com/7358/10817807686_df86a974ee_n_d.jpg" />
				</div>
				<div class="caption">
					<p>Mushroom</p>
					<p>100g</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="http://farm4.staticflickr.com/3820/10817777175_57c8b683e4_n_d.jpg" />
				</div>
				<div class="caption">
					<p>Mushroom</p>
					<p>100g</p>
				</div>
			</div>
		</div>
	</div>
{{> footer.html }}